header,
article,
aside,
footer {
  padding: 1em;
}

header,
footer {
  color: #fff;
  text-align: center;

  @include selection {
    background-color: $secondary-color;
    color: $base-font-color;
  }
}

header {
  padding-top: 0;
  padding-bottom: 12em;

  @include media($small-viewport-only) {
    padding-top: 0.5em;
  }

  @include linear-gradient($primary-color, $secondary-color);

  h1 {
    padding-bottom: 0.1em;
  }
}

footer {
  background-color: $primary-color;
}

article {
  max-width: $article-max-width;
  margin: 0 auto;
  margin-top: -13em;

  @include media($desktop-article) {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  }

}

aside {
  text-align: center;
}
