header,
article,
aside,
footer {
  padding: 1em;
}

header,
footer {
  background-color: $primary-color;
  color: #fff;
  text-align: center;

  @include selection {
    background-color: $secondary-color;
    color: $base-font-color;
  }

}

header {
  padding-bottom: 12em;
}

article {
  max-width: $article-max-width;
  margin: 0 auto;
  margin-top: -11em;

  @include media($desktop-article) {
    @include border-top-radius($base-border-radius);
  }

}

aside {
  @extend article;
  text-align: center;
  margin-top: 0;
}
