<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Sitemap | Benjamin Patch</string>
				<key>CreatedDate</key>
				<date>2021-09-26T03:57:20Z</date>
				<key>ID</key>
				<string>page3</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Sitemap</string>
				<key>PluginClassName</key>
				<string>RMSitemapPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Sitemap</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/benpatch/Sites/benjaminpatch.com/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-04-09T00:11:57Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6sD1yI/X0K5N
								xf0xnKlpqA==
								</data>
								<key>Size</key>
								<integer>7148</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>sitemap</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/benpatch/Sites/benjaminpatch.com/Code%20Repo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-01-05T20:20:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6R5GV2kOl8O6
								48X8bvjfcQ==
								</data>
								<key>Size</key>
								<integer>7029</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>sitemap</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/benpatch/Sites/benjaminpatch.com/code/benjaminpatch.com/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-09T22:32:54Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								N5Ci9kmmu4Cb
								2HLtJJa5dA==
								</data>
								<key>Size</key>
								<integer>6000</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>sitemap</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
