<!--[if lte IE 9]>
  <p class="browserupgrade">
    I noticed you are using an <strong>outdated and unsafe</strong> web browser.
    Please <a href="http://browsehappy.com/" target="_blank">upgrade to a free
    modern browser</a> for a better experience on this site and across the web.
    Thank you.
  </p>
<![endif]-->