<footer>
  <nav>
    <ul>
      <li><a href="#">Benjamin Patch</a></li>
      <li><a href="#">Filmography</a></li>
      <li><a href="#">Biography</a></li>
      <li><a href="#">Connect</a></li>
    </ul>
  </nav>

  <hr>

  <p>
    Written, Designed, and Coded by Benjamin Patch
  </p>
  
  <p>
    &copy; <%= Time.now.year %> Benjamin Patch
  </p>
</footer>