<header>
  <div id="portrait">
    <a href="/">
      <%= image_tag 'benjamin-patch.jpg',
            id: 'benjamin-patch',
            alt: 'Benjamin Patch' %>
    </a>
  </div>

  <div id="title">
    <h1>Benjamin Patch</h1>
    <h3>aspiring film director</h3>
  </div>
</header>
