<nav class="nav-collapse">
  <ul>
    <li><a href="#">Benjamin Patch</a></li>
    <li><a href="#">Filmography</a></li>
    <li><a href="#">Biography</a></li>
    <li><a href="#">Connect</a></li>
  </ul>
</nav>
