<nav class="nav-collapse">
  <ul>
    <li>
      <%= link_to "Benjamin Patch", "/index.html" %>
    </li>
    <li>
      <%= link_to "Filmography", "/filmography.html" %>
    </li>
    <li>
      <%= link_to "Biography", "/biography.html" %>
    </li>
    <li>
      <%= link_to "Connect", "/connect.html" %>
    </li>
  </ul>
</nav>
