---
title: Shelf Space

meta_description: Benjamin Patch studies cinema and history at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 0.7
change_frequency: monthly
---

<h1>Shelf Space</h1>

<iframe src="https://player.vimeo.com/video/167067083?color=ffffff&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
