<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>0B19101F-9BDE-4544-9F98-43834E4F180E</string>
				<string>28F10B47-4F28-4706-85B9-CFC8309954EA</string>
				<string>50856B66-811F-44EF-B762-01FDB65CC078</string>
				<string>606A3409-4ED6-4D13-8A91-59C5DD556A44</string>
				<string>7BF4B11B-63AE-4475-ACE7-B6DA0E461579</string>
				<string>902090A3-F32E-4F92-94CF-B4727EF16DC5</string>
				<string>95AFF66A-A123-47DD-B600-704A84ECBB0A</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
