<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Benjamin Patch | Filmmaker for Hire</string>
				<key>CreatedDate</key>
				<date>2021-09-25T20:07:29Z</date>
				<key>CustomThemeName</key>
				<string>Marvel</string>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Mystic</string>
				<key>PageTitle</key>
				<string>&lt;i&gt;&lt;/i&gt;Home</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/benpatch/Sites/benjaminpatch.com/Code%20Repo/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-01-05T20:20:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kl8x9KAc5UCY
								sTOHPS5hdQ==
								</data>
								<key>Size</key>
								<integer>8156</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/benpatch/Sites/benjaminpatch.com/code/benjaminpatch.com/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-09T22:32:54Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wryyQf2jreXK
								Noa6zhhWuw==
								</data>
								<key>Size</key>
								<integer>7249</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
