<!doctype html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    {% feed_meta %}
    <link rel="stylesheet" href="/assets/css/benjamin-patch.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=ngJR5E8jxy">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=ngJR5E8jxy">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=ngJR5E8jxy">
    <link rel="manifest" href="/site.webmanifest?v=ngJR5E8jxy">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=ngJR5E8jxy" color="#17a2b8">
    <link rel="shortcut icon" href="/favicon.ico?v=ngJR5E8jxy">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
      <!--[if IE]>
        <p class="browserupgrade">We noticed you are using an <strong>outdated and unsecure</strong> web browser. Please <a href="https://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
    
    {% include navigation.html %}

    <div class="container">
      {% include header.html %}
      {{ content }}  
    </div>

    {% include footer.html %}
    
  </body>
</html>
