---
meta_description: Benjamin Patch studies cinema and history at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 0.7
change_frequency: monthly
---

<h2>Biography</h2>
