---
title: Biography

meta_description: Benjamin Patch is an aspiring film director studying cinema at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 0.5
change_frequency: monthly
---

<h1>Biography</h1>

<hr>

<p>
  As a teenager, Benjamin Patch began pushing aside assigned schoolwork to
  develop concepts and screenplays for short films he wanted to make with his
  friends.
  Sometimes the films were finished but more often Benjamin realized his ideas
  were too ambitious for the limited time and resources he was able to muster.
</p>

<h2>Post 9/11</h2>

<p>
  Benjamin Patch was a senior in high school on September 11, 2001.
  Although he had seriously considered joining the military prior to 9/11,
  the tragic events of that day solidified his resolve. Despite the ardent
  appeals of his parents to enroll in college,
  Benjamin Patch enlisted in the United States Army instead.
  Early in his military career, Benjamin continued to develop screenplays and
  related concepts in his free time.
</p>

<h2>1st Armored Division</h2>

<p>
  After basic and advanced initial training, the Army assigned Benjamin Patch to
  the 1st Armored Division (1AD) in Wiesbaden, Germany.
  Not long after his 2004 arrival in Germany, Private First Class Patch joined
  1AD in Baghdad, Iraq as the unit completed its combat mission in the region.
  In both Germany and Iraq, Benjamin Patch worked as an information technology
  specialist and satellite communications operator for the division's Analysis
  and Control Element (ACE).
</p>

<p>
  In this position, he gained valuable real-world experience building and
  maintaining secure military computer networks certified to handle classified
  information up to the TS/SCI (Top Secret/Sensitive Compartmented Information)
  level. This fueled a strong curiosity about network security, software design,
  databases, and Benjamin's desire to understand them at a deeper level.
  Eventually, Benjamin began teaching himself a variety of computer programming
  languages including PHP, Ruby, Python, and Elixir — plus web technologies like
  HTML, CSS, and JavaScript.
</p>

<h2>10th Special Forces Group</h2>

<p>
  By 2006 Benjamin's initial enlistment was coming to an end but the conflicts
  in Iraq and Afghanistan were far from over.
  Benjamin felt uneasy about leaving the Army at such a time,
  so he voluntarily extended his enlistment and joined 10th Special Forces Group
  in Fort Carson, Colorado.
</p>

<p>
  After completing airborne school Benjamin Patch moved to Colorado and in 2007,
  deployed to Iraq for the second time. Sargent Patch was responsible for
  providing direct intelligence support for six Special Forces teams.
  10th Special Forces Group was intensely involved with the American-led "surge"
  operations that over the course of several months,
  dramatically reduced violence across Iraq.
</p>

<p>
  10th Special Forces Group once again returned to Iraq in early 2008,
  marking Benjamin's third and final combat deployment.
  In October 2009 Benjamin Patch was honorably discharged as a non-commissioned
  officer from the United States Army.
</p>

<h2>Cascading Media</h2>

<p>
  When Benjamin Patch first started Cascading Media in late 2008,
  he originally intended to blend traditional web development with video
  production to create interactive multimedia experiences delivered over the
  Internet.
  Unfortunately, this concept proved too expensive and probably beyond the needs
  of the small business clients Benjamin had access to — especially amidst the
  worst economic conditions since the Great Depression.
</p>

<p>
  Before long Benjamin Patch felt it was only practical to allow Cascading Media
  to evolve into a more conventional web development business.
  This forced him to quickly learn even more about web servers, databases, and
  software development.
  As Benjamin dove ever deeper into web technologies,
  he discovered even more skills and knowledge that still needed to be acquired.
</p>

<p>
  After slogging through this process for years,
  Benjamin Patch finally decided in 2015
  that it would be best to take an academic sabbatical from the daily
  responsibilities at Cascading Media to focus on computer science.
  This led to his enrollment at Binghamton University.
</p>

<p>
  If you are interested in learning more about the work Benjamin Patch did at
  Cascading Media, please visit the company's website,
  <a href="https://cascadingmedia.com/" target="_blank">cascadingmedia.com</a>.
</p>

<h2>Binghamton University</h2>

<p>
  During Benjamin's first semester at Binghamton University he came to the
  realization that for the previous six years while running Cascading Media,
  he had become so preoccupied with chasing new business leads,
  collecting payment for past due invoices,
  and learning an array of cutting-edge technologies
  that he lost perspective on what he wanted out of life.
</p>

<p>
  In a January 2016 letter to his family and close friends Benjamin Patch wrote,
  "Even though the past few years resulted in a positive cash flow for Cascading
  Media, it has come at the cost of abandoning my true aspirations.
  Not to imply I wasted my time with the entrepreneurial venture —
  the additional knowledge and technical skills it allowed me to acquire will be
  quite useful throughout the rest of my life.
  However, I believe the few intrinsic talents I am fortunate enough to hold are
  best suited for another type of work."
</p>

<p>
  Since beginning the cinema program at Binghamton University,
  Benjamin Patch has developed an even greater appreciation for the art form he
  has been drawn to since childhood.
  His student films have been well received by fellow students and cinema
  professors alike.
  One student film titled "Flicker" won the "Best Picture" and "Fan Favorite"
  awards at the Spring 2016 Film48 competition sponsored by Binghamton
  University.
  "Flicker" plus other short films by Benjamin Patch can be viewed on his
  <%= link_to "Filmography", "/filmography.html" %>.
</p>

<p>
  Benjamin Patch currently lives in Binghamton, New York with his beautiful
  girlfriend, Leslie Wei.
</p>
