---
meta_description: Benjamin Patch studies cinema and history at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 0.7
change_frequency: monthly
---

<h1>Biography</h1>

<hr>

<h2>Screenwriting and Filmmaking</h2>

<p>
  I believe people who are considered to be amongst the best in their field
  develop a particular skill set early in life
  &#8212; a skill set they enhance through disciplined practice
  over the course of many years.
  For example, Olympians demonstrate remarkable athletic abilities as children
  but these innate talents are not enough to seriously compete against the best
  in the world.
  It is the combination of innate talent and rigorous drilling that places these
  individuals amongst the best in their field.
</p>

<p>
  As far back as elementary school I have been told by teachers that my writing
  assignments were fairly decent in structure and creativity.
  As a teenager I started pushing aside assigned schoolwork to develop concepts
  and screenplays for short films I wanted to make with my friends.
  Sometimes the films were finished but more often I realized my ideas were too
  ambitious for the limited time and resources we were able to muster.
</p>

<h2>Post 9/11</h2>

<p>
  I was a senior in high school on September 11, 2001.
  Although I had seriously considered joining the military prior to 9/11,
  the tragic events of that day solidified my resolve.
  Despite the ardent appeals of my parents to enroll in college,
  I enlisted in the United States Army instead.
  Early in my military career I continued to develop screenplays
  and related concepts in my free time.
</p>

<h2>1st Armored Division</h2>

<p>
  After basic and advanced initial training,
  the Army assigned me to the 1st Armored Division (1AD) in Wiesbaden, Germany.
  Not long after my 2004 arrival in Germany,
  I joined 1AD in Baghdad, Iraq
  as the unit completed its combat mission in the region.
  In both Germany and Iraq, I worked as an information technology specialist
  and satellite communications operator
  for the division&#8217;s Analysis and Control Element (ACE).
</p>

<p>
  In this position I gained valuable real-world experience
  building and maintaining secure military computer networks
  certified to handle classified information up to the
  TS/SCI (Top Secret/Sensitive Compartmented Information) level.
  This fueled a strong curiosity about network security, software design,
  databases, and my desire to understand them at a deeper level.
  Eventually I began teaching myself a variety of computer programming languages
  including PHP, Ruby, Python, and Elixir
  &#8212; plus web technologies like HTML, CSS, and JavaScript.
</p>

<h2>10th Special Forces Group</h2>

<p>
  By 2006 my initial enlistment was coming to an end
  but the conflicts in Iraq and Afghanistan were far from over.
  I felt uneasy about leaving the Army at such a time,
  so I volunteered to extend my enlistment and join 10th Special Forces Group
  in Fort Carson, Colorado.
</p>

<p>
  After airborne school I moved to Colorado
  and in 2007, deployed to Iraq for a second time.
  While I should not go into detail about the unit&#8217;s role in Iraq,
  I am at liberty to say my primary responsibility was to
  provide direct intelligence support for six Special Forces teams.
  10th Special Forces Group was heavily involved with the American-led “surge”
  operations that over the course of several months,
  dramatically reduced violence across Iraq.
</p>

<p>
  The unit once again returned to Iraq in early 2008,
  marking my third and final combat deployment.
  In October 2009 I was honorably discharged as a non-commissioned officer
  from the United States Army.
</p>

<h2>Cascading Media</h2>

<p>
  When I first started Cascading Media in late 2008
  I originally intended to blend traditional web development
  with video production to create interactive multimedia experiences
  delivered over the Internet.
  Unfortunately, this concept proved too expensive and probably beyond the needs
  of the small business clients I had access to &#8212;
  especially amidst the worst economic conditions since the Great Depression.
</p>

<p>
  Before long I felt it was only practical to allow Cascading Media to evolve
  into a more conventional web development business.
  This forced me to quickly learn even more about
  web servers, databases, and software development.
  As I dove ever deeper into web technologies,
  I discovered even more skills and knowledge that still needed to be acquired.
</p>

<p>
  After slogging through this process for years, I finally decided in 2015
  that it would be best to take an academic sabbatical from the daily
  responsibilities at Cascading Media to focus on computer science.
  The intention was to fill the gaps in my knowledge and lay a stronger
  foundation for more advanced software development in the future.
  This led to my enrollment at Binghamton University.
</p>

<p>
  If you are interested in learning more about the work I did at
  Cascading Media, please visit the company's website,
  <%= link_to "cascadingmedia.com",
      "https://cascadingmedia.com/",
      target: "_blank" %>.
</p>

<h2>Binghamton University</h2>

<p>
  The great part about being a 32-year-old undergraduate student
  is the unique perspective it offers.
  During my first semester at Binghamton University I came to the realization
  that for the previous six years while I was running Cascading Media,
  I had become so preoccupied with chasing new business leads,
  collecting payments for past due invoices,
  and learning an array of cutting-edge technologies
  that I lost perspective on what I wanted out of life.
</p>

<p>
  If, like most people,
  I was only seeking a well-paying job with predictable hours
  my security clearance and military experience
  would have allowed me to pursue numerous Defense Department positions
  as a civilian that are not open to most American citizens.
  I chose instead to put everything I had into a business
  that might some day grant me time and resources to explore my other passions.
</p>

<p>
  Even though the past few years resulted in a positive cash flow
  for Cascading Media,
  it has come at the cost of abandoning my true aspirations.
  Not to imply I wasted my time with the entrepreneurial venture &#8212;
  the additional knowledge and technical skills it allowed me to acquire
  will be quite useful throughout the rest of my life.
  However, I believe the few intrinsic talents I am fortunate enough to hold
  are best suited for another type of work.
</p>

<h2>Recapturing My Passion</h2>

<p>
  Given time and space to develop my ideas,
  I strongly believe the diversity of my life experiences
  combined with a strong work ethic and a touch of talent
  will enable me to write and eventually direct thought-provoking films
  that explore meaningful issues facing society today and well into the future.
</p>

<p>
  This is why I have decided to pursue a cinema degree
  from Binghamton University.
  I understand the risks of this decision,
  computer science (CS) is a field where a student can graduate in the lower
  third of his class and still have no trouble making a very comfortable living.
  Whereas a cinema degree alone does not open doors with such ease.
  But a cinema degree does offer an in-depth study of great works of the past,
  technical training with hands on experience
  in both traditional film stock and video technologies,
  opportunities to create a portfolio of work,
  and most importantly <em>time</em> to develop a creative voice.
</p>

<p>
  Developing a creative voice cannot be taught like the sciences,
  like most humanity fields
  it is too complex to be quantified or precisely defined.
  This is why many who enter creative fields
  end up working in other industries to make ends meet.
  I believe a creative voice must come from within the mind &#8212;
  an intricate blend of
  personal experiences, imagination, intellect, and emotions.
  And because of the unconventional path I have taken through life,
  I believe I might have something unique to offer.
</p>

<h2>History Minor</h2>

<p>
  To complement my cinema major, I am also pursuing a minor in history.
  History has always fascinated me and at the college level,
  the writing assignments help develop critical thinking skills
  that are an essential part of making any form of writing or filmmaking
  more meaningful to the reader or viewer &#8212;
  further developing the creative voice that is so critical to success.
</p>

<p>
  I also met with academic advisors about the possibility
  of pursuing a minor in computer science.
  They told me that because of the small class sizes
  and CS majors having priority,
  most CS minors never finish because they are unable to register
  for all required classes before graduating.
  I am also concerned the required course load,
  even for a CS minor, will monopolize my time &#8212;
  detracting from what needs to be my primary focus.
  So I decided against this possibility.
</p>

<h2>Ongoing Projects</h2>

<p>
  I am already working on several project concepts
  and will continue to develop these ideas while I am a student.
  Obviously I will never compete in the Olympics
  but if I focus my efforts on honing the few innate talents I have,
  I am confident that like those athletes,
  I will maximize my chances of success in one of the world’s most competitive
  but also extremely influential industries.
  Regardless of how any of this turns out,
  I would rather try and fail
  instead of spending the rest of my life wondering what could have been.
</p>
