---
meta_description: Connect with Benjamin Patch, an aspiring film director.

priority: 0.7
change_frequency: monthly
---

<h1>Connect</h1>

<hr>

<p>
  Connect with Benjamin Patch on any of these social networks:
</p>

<ul class="article-buttons">
  <li>
    <a href="https://twitter.com/BenjaminPatch"
    class="button"
    target="_blank">Twitter</a>
  </li>

  <li>
    <a href="https://www.facebook.com/benjamin.r.patch"
    class="button"
    target="_blank">Facebook</a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/benjaminpatch"
    class="button"
    target="_blank">LinkedIn</a>
  </li>

  <li>
    <a href="https://vimeo.com/benjaminpatch/"
    class="button"
    target="_blank">Vimeo</a>
  </li>
</ul>
