---
meta_description: Benjamin Patch studies cinema and history at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 0.7
change_frequency: monthly
---

<h1>Filmography</h1>

<hr>

<h2>Garden of Play</h2>

<ul>
  <li><strong>Release Date:</strong> 2009</li>
  <li><strong>Credits:</strong> Cinematographer and Editor</li>
  <li><strong>Runtime:</strong> 2 minutes</li>
  <li>
    <strong>Synopsis:</strong> Experimental film made in 2009 that explores a
    variety of cinematographic techniques including deep-focus and shallow-focus
    photography, time-lapse, high-speed photography (slow motion), and rhythmic
    editing to music.
    The title refers to both the content of the images and the filmmaker’s
    playful experimentations.
  </li>
  <li>
    <strong>Production Notes:</strong> This film was shot in Colorado Springs
    with a Panasonic AG-DVX100 (DVCPRO HD), Letus35 lens adapter, and a variety
    of lenses. Edited and color graded with Final Cut Pro. The score came from a
    music library.
  </li>
</ul>

<%= link_to "Watch: Garden of Play",
            "/filmography/garden-of-play.html",
            class: "button" %>

<hr>

<h2>Awake</h2>

<ul>
  <li><strong>Release Date:</strong> 2003</li>
  <li><strong>Credits:</strong> Writer, Director, Editor, Producer</li>
  <li><strong>Runtime:</strong> 13 minutes</li>
  <li>
    <strong>Synopsis:</strong> Herby Laxx faces his greatest challenge when
    forces beyond his control refuse to leave him in peace.
    This fun light-hearted comedy was produced in 2003 with a $200 budget.
  </li>
  <li>
    <strong>Production Notes:</strong> Shot on standard definition digital video
    (miniDV) with no professional lights or dollies.
    Gorilla shooting methods were extensively employed to create the end result.
    Most sound was recorded on location but several sequences were replaced or
    enhanced with folly work during post.
    Edited using Final Cut Pro with the score mixed from music library sources.
  </li>
</ul>

<%= link_to "Watch: Awake",
            "/filmography/awake.html",
            class: "button" %>
