---
meta_description: Benjamin Patch index description...
---

<p>
  Starting in late August 2015, I will be a full-time student at Binghamton
  University in upstate New York. My current field of study is Mathematics but
  in the near future I plan to transfer into the University&#8217;s Computer
  Science program. Prior to this academic phase of my life, I served as an
  intelligence analyst for the United States Army and ran a small web
  development business called Cascading Media.
</p>

<h2>Post 9/11</h2>

<p>
  ​I was a senior in high school on September 11, 2001. While I had seriously
  considered joining the military prior to 9/11, the tragic events of that day
  solidified my decision. Despite the ardent efforts of my parents to convince
  me to take the conventional college approach to life, I resolutely enlisted in
  the United States Army instead.
</p>

<h2>1st Armored Division</h2>

<p>
  After my initial training, the Army assigned me to the 1st Armored Division
  (1AD) in Wiesbaden, Germany. Not long after arriving in Germany, I joined 1AD
  in Iraq as the unit completed its combat mission in the region. While assigned
  to 1AD, I worked as an information technology specialist and satellite
  communications operator for the unit&#8217;s Analysis and Control Element.
</p>

<p>
  At 1AD, I gained valuable real world experience building and maintaining
  secure military networks certified for classified information up to the TS/SCI
  level. This fueled a strong curiosity and desire to understand network
  security, software design, and databases at a deeper level.
</p>

<h2>10th Special Forces Group</h2>

<p>
  By late 2005, my time at 1AD was coming to an end but the war in Iraq was far
  from over. I felt uneasy about leaving the Army at such a time, so I
  volunteered to extend my enlistment and join 10th Special Forces Group in Fort
  Carson, Colorado.
</p>

<p>
  After airborne training I was in Colorado and in 2007 I deployed to Iraq for a
  second time. While I cannot go into detail about the unit&#8217;s role in
  Iraq, I was responsible for providing direct intelligence support for six
  Special Forces teams. In 2008 the unit returned to Iraq, marking my third and
  final combat deployment.
</p>

<h2>Cascading Media</h2>

<p>
  While still serving in Iraq, I created the legal entity Cascading Media, LLC
  on October 23, 2008. The LLC (Limited Liability Company) paperwork was filed
  over the Internet in preparation for my return to the US in early 2009.
</p>

<p>
  In October 2009, I was honorably discharged as a Sergeant from the US Army.
  For the next six years, I ran my small website development business full-time.
  Cascading Media gave my the opportunity to explore many aspects of both
  Computer Science and business, which lead to a great deal of self-directed
  learning. The more I learned, the more I wanted to explore. The more I
  explored, the deeper I wanted to dive.
</p>

<h2>Binghamton University</h2>

<p>
  While I still believe self-directed learning is best in many situations, I
  also appreciate the value of formal academic studies. This is why I am not
  only prepared but excited to dedicate the next several years of my life to the
  exploration of Mathematics and Computer Science.
</p>
