---
meta_description: Benjamin Patch studies computer science and mathematics at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 1.0
change_frequency: monthly
---

<p>
  Beginning in fall 2015,
  I will be a full-time student at Binghamton University in upstate New York.
  My initial field of study will be mathematics
  but in the near future
  I plan to transfer into the computer science program.
  Previously I was running a web development business called Cascading Media,
  prior to which I served as an intelligence analyst in the United States Army.
</p>

<h2>Post 9/11</h2>

<p>
  ​I was a senior in high school on September 11, 2001.
  Although I had seriously considered joining the military prior to 9/11,
  the tragic events of that day solidified my resolve.
  Despite the ardent appeals of my parents to enroll in college,
  I enlisted in the United States Army instead.
</p>

<h2>1st Armored Division</h2>

<p>
  After basic and advanced initial training,
  the Army assigned me to the 1st Armored Division (1AD) in Wiesbaden, Germany.
  Not long after my 2004 arrival in Germany,
  I joined the 1AD in Baghdad, Iraq,
  as the unit completed its combat mission in the region.
  In the 1AD,
  I worked as an information technology specialist
  and satellite communications operator
  for the unit&#8217;s Analysis and Control Element.
</p>

<p>
  In this position, I gained valuable real-world experience
  building and maintaining secure military computer networks
  certified for classified information up to the
  TS/SCI (Top Secret/Sensitive Compartmented Information) level.
  This fueled my strong curiosity about
  network security, software design, databases,
  and my desire to understand them at a deeper level.
  Eventually I began teaching myself a variety of computer programming languages
  including PHP, Ruby, Python, JavaScript, and Elixir.
</p>

<h2>10th Special Forces Group</h2>

<p>
  By 2006 my time at the 1AD was coming to an end
  but the wars in Iraq and Afghanistan were far from over.
  I felt uneasy about leaving the Army at such a time,
  so I volunteered to extend my enlistment and join 10th Special Forces Group
  in Fort Carson, Colorado.
</p>

<p>
  After airborne school I moved to Colorado
  and in 2007, deployed to Iraq for a second time.
  While I should not go into detail about the unit&#8217;s role in Iraq,
  I am at liberty to say my primary responsibility was to
  provide direct intelligence support for six Special Forces teams.
  In 2008 the unit once again returned to Iraq,
  marking my third and final combat deployment.
</p>

<h2>Cascading Media</h2>

<p>
  While still serving in Iraq, in October 2008,
  I created the legal entity Cascading Media, LLC,
  in preparation for my return to the United States in early 2009.
</p>

<p>
  In October 2009 I was honorably discharged from the US Army as a Sergeant.
  For the next six years I ran my small web development business full-time.
  Cascading Media gave me the opportunity to explore many practical aspects of
  both computer science and business,
  and provided great opportunities for
  personal growth and self-directed learning.
  I soon discovered the more I learned, the more I wanted to explore.
  The more I explored, the deeper I wanted to dive.
</p>

<p>
  If you are interested in learning more about the work I did at
  Cascading Media, please visit the company's website,
  <%= link_to "cascadingmedia.com",
      "https://cascadingmedia.com/",
      target: "_blank" %>.
</p>

<h2>Binghamton University</h2>

<p>
  While I still believe self-directed learning
  is an essential capability in problem solving,
  I can also appreciate the value of systematic formal studies
  to provide a strong platform for creativity.
  This is why I am excited to build on my current knowledge
  and experience through studies at Binghamton University.
</p>
