---
meta_description: Benjamin Patch is an Avid certified film and video editor. He previously ran a multimedia production company and served in the US Army.

priority: 1.0
change_frequency: monthly
---

<p>
  Benjamin Patch currently writes, hosts, and produces film and video editing
  tutorials for <a href="https://www.youtube.com/thepostworkshop" target="_blank">The Post Workshop</a>.
  Previously he ran a multimedia design and production company called
  Cascading Media, prior to which he served as an intelligence analyst for the
  United States Army.
  Benjamin Patch graduated with honors from
  <a href="https://www.binghamton.edu/" target="_blank">Binghamton University</a>
  with a Bachelor of Arts (BA) in Cinema.
</p>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/254072638" webkitAllowFullScreen></iframe></div>

<p>
  "Astray" is a 25-minute film that centers around a college student who has an
  extraordinary ability to “see” the future potential of his fellow students.
  The film was written and directed by Benjamin Patch and is an official
  selection of the 2019 International New York Film Festival.
</p>

<%= link_to 'more films by Benjamin Patch',
'/filmography.html',
:class => 'button' %>
