---
meta_description: Benjamin Patch is an aspiring film director studying cinema at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 1.0
change_frequency: monthly
---

<p>
  Benjamin Patch is currently studying cinema as a full-time student at
  Binghamton University in upstate New York.
  He previously ran a small web development business called Cascading Media,
  prior to which Benjamin Patch served as an intelligence analyst for the United
  States Army.
</p>
